<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>Coming Soon</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        background-color: #181616;
        color: #9d9d9d;
        padding: 10px;
        overflow: hidden;
        text-align: center;
      }
      h1 {
        font-size: 48px;
      }
      p {
        font-size: 24px;
      }
      a {
        color: purple;
        text-decoration: none;
        transition: color 0.5s ease-in-out;
      }
      a:hover {
        color: plum;
      }
    </style>
  </head>
  <body>
    <h1>Coming Soon!</h1>
    <p>This page is not available right now. We're working on something exciting and it will be here soon!</p>
    <a href="/">Back to the Home page</a>
  </body>
</html>
