@layer reset,
defaults,
patterns,
components,
utilities,
overrides;

@layer reset {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

@layer defaults {
  :root {
    --link: #fd62a3;
    --focused-link: #fcfcfc;
    --background: #181616;
    --text-color: #9d9d9d;
  }

  ::-webkit-scrollbar {
    width: 2px;
    background-color: var(--background);
  }

  ::-webkit-scrollbar-thumb {
    background-color: #ff00d47d;
    box-shadow: 0 0 5px red;
    border-radius: 100%;
  }

  html {
    position: fixed;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
    color-scheme: dark light;
  }

  body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background-color: var(--background);
    font-family: "Times New Roman", Times, serif;
    color: white;
    scroll-behavior: smooth;
  }

  h2 {
    text-align: center;
    font-size: 12vw;
    background: conic-gradient(
      from 180deg at 50% 50%,
      #ebebeb 0deg,
      #ebebeb00 360deg
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.5s ease-in-out;
  }

  h2:hover {
    font-size: 12.5vw;
    text-shadow: 0 0 10px whitesmoke;
  }

  canvas {
    width: 100%;
    height: 100%;
  }

  #background,
  #foreground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  p {
    line-height: 1.4;
  }

  a {
    outline: none;
    text-decoration: none;
  }

  a:link {
    color: var(--link);
  }

  a:visited {
    color: var(--link);
  }

  a:focus {
    color: var(--focused-link);
  }

  a:hover {
    color: var(--focused-link);
  }

  a:active {
    color: var(--focused-link);
  }

  ul {
    list-style: none;
    text-decoration: none;
  }

  li {
    display: inline;
    list-style: none;
  }

  img {
    width: 100%;
  }

  video {
    width: 100%;
  }

  iframe {
    width: 100%;
  }

  ::selection {
    color: snow;
  }
}

@layer patterns {
  aside .glow {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 20vw;
    background-color: #d092e083;
    filter: blur(150px);
  }
}

@layer components {
  @layer header {
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: sticky;
      position: -webkit-sticky;
      top: 0;
      left: 0;
      background: linear-gradient(180deg, #6e51ab1f 0%, #ff78f20f 100%);
      backdrop-filter: blur(15px);
      height: 75px;
      color: aliceblue;
      box-shadow: 0 2px 10px #0000001d;
    }

    .portlogo_container {
      display: flex;
      margin-left: 5px;
    }

    .portlogo_container .portlogo {
      display: block;
      width: 40px;
      height: 40px;
    }

    .portlogo_container:hover .portlogo {
      filter: drop-shadow(0px 0px 6px var(--background));
      transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }

    .portlogo {
      transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }

    /* .portlogo_container .portlogo div {
            width: 15px;
            aspect-ratio: 1;
            background-color: var(--color);
            transform: translate(var(--x), var(--y));
            border-radius: 50%;
            animation: dancing_logo 2s linear infinite alternate-reverse forwards;
        } */

    /* @keyframes dancing_logo {
            from {
                box-shadow: 0 0 15px var(--color);
                transform: translate(calc(var(--x) - 1), calc(var(--y)));
            }

            to {
                box-shadow: 2px 2px 10px var(--color);
                transform: translate(calc(var(--x)), calc(var(--y)));
            }
        } */

    .portname {
      font-size: larger;
      font-weight: 700;
    }

    .portname .seg {
      color: #ac87aa;
      font-family: "Courier New", Courier, monospace;
      filter: drop-shadow(2px 2px 2px rgb(0, 0, 0));
    }

    .portname .seg2 {
      -webkit-background-clip: text !important;
      -webkit-text-fill-color: transparent;
      background: linear-gradient(120deg, #db00ff 20%, #ff00ff 100%);
      background-clip: text;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    }

    header nav li {
      display: flex;
      margin: 50% 0;
    }

    header nav {
      position: fixed;
      top: 0;
      left: 0%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      font-size: larger;
      font-weight: bolder;
      height: 100vh;
      background-color: white;
      background: linear-gradient(180deg, #6c50aa1f 0%, #ff78f20f 100%);
      transition: left 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .resume a {
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(141deg, #ad5cc2 0%, #7c128500 100%);
      width: 7rem;
      margin-right: 10px;
      aspect-ratio: 3/1;
      color: white;
      font-family: "Twinkle Star", sans-serif;
      box-shadow: 1px 2px 10px #ff91e717;
      transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .resume a:hover {
      perspective-origin: bottom;
      transform: rotateX(30deg);
      background: #dd00ff88;
      box-shadow: 0rgba (221, 0, 255, 0.429) #ff02af;
    }

    @media screen and (min-width: 768px) {
      header nav {
      }
      header nav ul {
        display: flex;
        gap: 2rem;
        margin: 0;
      }

      header nav li {
        margin: 0;
      }

      header nav {
        position: relative;
        left: 0;
        width: 100%;
        background: transparent;
        height: 100%;
        font-size: 1rem;
        font-weight: 300;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      }
    }

    @media screen and (min-width: 1200px) {
      header {
        padding: 0 40px;
      }

      header nav ul {
        gap: 5.5rem;
      }

      header nav ul li {
        margin: 0;
      }
    }
  }

  @layer main {
    @layer home,
        about,
        works,
        services,
        blog,
        certificate,
        contact;

    main {
      padding: 10px 15px;
    }

    @layer home {
      #home {
        display: grid;
      }

      .mainImg {
        height: calc(40vw + 40vh);
        background: url("./img/olajide.png") lightgray 50% / cover no-repeat;
        border-radius: 0 30%;
        border: 1px solid #000;
        box-shadow: 5px 10px 16px #cd54af1c;
      }

      .greeting {
        font-family: Inspiration, cursive;
        font-size: xx-large;
        margin: 20px 0;
      }

      .nameIntro {
        margin: 10px 0;
        font-size: 3.5vw;
      }

      .myName {
        color: #ff00d6;
        text-shadow: 4px 5px 10px #f58eca55;
        font-family: "Inria Serif";
        font-size: 13vw;
        font-weight: 400;
      }

      .specialization {
        font-family: "Courier New", Courier, monospace;
        font-size: x-large;
        color: #737f97;
        text-shadow: 2px 2px 10px #dedede4d;
        margin: 20px 0;
        height: 50px;
      }

      .introbrief {
        color: #9d9d9d;
        text-align: justify;
        font-weight: 700;
        line-height: 158.523%;
      }

      .introbrief::first-letter {
        color: rgb(184, 13, 153);
        font-size: xx-large;
      }

      @media screen and (min-width: 768px) {
        #home {
          grid-template-columns: 31% 38% 31%;
        }

        .myName {
          font-size: 5.3vw;
        }

        .introPiece {
          grid-row-start: 1;
          grid-column-start: 1;
          margin: 20px 0;
        }

        .mainImg {
          height: calc(23vw + 23vh);
          object-fit: fill;
          grid-column-start: 2;
          margin: 0 10px;
        }

        .introbrief {
          grid-column-start: 3;
          font-size: 1.3vw;
        }

        .introbrief {
          text-align: end;
        }
      }

      @media screen and (min-width: 1200px) {
        main {
          padding: 20px 40px;
        }

        .nameIntro {
          margin: 50px 0;
        }

        .mainImg {
          height: calc(28vw + 28vh);
        }

        .introbrief {
          font-size: 1.25vw;
        }
      }
    }

    @layer about {
      .contactlink {
        display: flex;
        justify-content: end;
      }

      .contactlink a {
        display: inherit;
        justify-content: center;
        align-items: center;
        width: 13rem;
        height: 33px;
        margin: 20px 0;
        border-radius: 50px;
        background: linear-gradient(180deg, #8b33d026 0%, #b9b9b908 100%);
      }

      .expertise h3 {
        text-shadow: 2px 4px 4px 0px #a059c140;
        font-family: "Grechen Fuemen", cursive, "Times New Roman", serif;
        font-size: 3rem;
        margin-bottom: 20px;
        background: linear-gradient(180deg, #ffffff08 0%, #9d9d9d 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .expertiseInfo .pro {
        color: #fff;
        font-size: xx-large;
      }

      .expertiseInfo .frame {
        margin: 20px 0;
      }

      .expertiseInfo div:last-child .pro {
        text-align: end;
      }

      .expertise .rule {
        display: none;
        height: 100%;
        width: 5px;
      }

      @media screen and (min-width: 768px) {
        .expertiseInfo {
          display: flex;
          gap: 2.5rem;
        }

        .expertiseInfo div:first-child {
          display: flex;
          flex-direction: column-reverse;
        }

        .expertise .rule {
          display: block;
          height: 300px;
          width: 10px;
          opacity: 0.5;
          border: 3px groove grey;
          border-top: 0;
          border-bottom: 0;
        }
      }

      .toolsandtechnology {
        margin: 60px 0;
        position: relative;
        top: 0;
        left: 0;
        height: 15vw;
      }

      .toolsandtechnology * {
        height: 100%;
      }

      .toolsandtechnology .glow {
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: #bd00ff;
        transform: translate(-50%, -50%);
        z-index: -1;
        filter: blur(10vw);
        animation: glow 2s ease-in-out infinite alternate-reverse;
      }

      @keyframes glow {
        from {
          width: 10%;
        }

        to {
          width: 20%;
        }
      }
    }

    @layer work {
      #works .works {
        display: grid;
        justify-content: space-around;
        grid-template-columns: repeat(auto-fit, 25%);
        column-gap: 80px;
        row-gap: 100px;
        color: #8e8e8e;
        font-weight: bolder;
      }

      #works .works span {
        position: relative;
        aspect-ratio: 16/9;
      }

      #works .works span img {
        cursor: pointer;
        transition: all 0.5s ease-in-out;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }

      #works .works span img:hover {
        transform: rotate(1deg) scale(1.2);
      }

      #works .works .workname {
        margin-top: 10px;
      }

      #workpopup {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        height: 90%;
        overflow: hidden;
        overflow-y: auto;
        background-color: var(--background);
        border-radius: 10px;
        z-index: 2;
        padding: 10px;
        color: var(--text-color);
        display: none;
      }

      #workpopup::-webkit-scrollbar {
        width: 0;
      }

      #workpopup video {
        width: 100%;
        object-fit: contain;
        border-radius: 10px;
      }
      #workpopup > * {
        margin-bottom: 0.5rem;
      }

      #workpopup h3 {
        font-size: 2rem;
      }

      #workpopup h4 {
        font-size: 1.5rem;
        margin: 20px 0;
        text-shadow: 0 0 10px var(--link);
      }

      #workpopup p {
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
        font-size: 16px;
        font-style: oblique;
        font-variant: small-caps;
        font-weight: bold;
      }

      #work-slide-container {
        --gap: 30px;
        overflow: hidden;
        display: flex;
        align-items: center;
        gap: var(--gap);
        min-width: 100%;
      }

      #work-slide-container:hover .slide {
        animation-play-state: paused;
      }

      #work-slide-container img {
        width: 4rem;
        aspect-ratio: 1;
        border: solid 2px var(--link);
        padding: 10px;
        border-radius: 50%;
        background-color: #fd62a317;
        box-shadow: 0 0 10px var(--link);
      }

      .slide {
        display: flex;
        align-items: center;
        gap: 30px;
      }

      .animate-slide {
        animation: scroll 15s linear infinite;
      }

      .figma-embed {
        border-radius: 20px;
        margin-top: 2rem;
        height: 400px;
        background-color: #4d4d4d;
        overflow: hidden;
      }

      #workpopup aside {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 13px;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 40px;
        aspect-ratio: 1;
        background: url("./img/star.png") no-repeat;
        background-position: 60% 30%;
        background-size: 80%;
        color: var(--background);
        transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      }

      #workpopup aside:hover {
        cursor: pointer;
        background: url("./img/star-split.png") no-repeat center/cover;

        font-size: xx-large;
        color: gold;
      }

      #workpopup .link {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: sticky;
        left: 80%;
        bottom: 20px;
        object-fit: contain;
        background-color: var(--background);
        border: 2px dotted rgb(110, 81, 81);
        border-radius: 50px;
        width: 150px;
        height: 40px;
        box-shadow: 0 0 10px 2px rgba(97, 35, 35, 0.8);
      }

      #workpopup .link img {
        width: 20px;
      }

      #workpopup .link a:hover > img {
        transform: scale(1.2);
        filter: sepia(100%) saturate(1000%) hue-rotate(250deg);
      }

      @keyframes scroll {
        to {
          transform: translate(calc(-100% - var(--gap)));
        }
      }

      @media screen and (max-width: 1200px) {
        #workpopup {
          width: 70%;
        }

        #works .works {
          grid-template-columns: repeat(auto-fit, 40%);
        }
      }

      @media screen and (max-width: 550px) {
        #workpopup {
          width: 90%;
        }

        #works .works {
          grid-template-columns: repeat(auto-fit, 95%);
        }
      }
    }

    @layer services {
      #services .services,
      #services .services .segment {
        display: grid;
        grid-template-columns: 100%;
      }

      #services .services .IntroServices,
      #services .services .segment .service {
        margin-bottom: 60px;
      }

      #services .services .IntroServices {
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 20ch;
      }

      #services .services .IntroServices p {
        line-height: 3.8ch;
      }

      #services .services .segment .service h3 {
        color: white;
        margin: 2px 0 10px;
      }

      #services .services .segment .service img.placeorder {
        cursor: pointer;
        width: 20px;
        transition: all 0.2s ease-in-out;
      }

      #services .services .segment .service img.placeorder:hover {
        filter: sepia(100%) saturate(1000%) hue-rotate(250deg);
        width: 30px;
      }

      @media screen and (min-width: 768px) {
        #services .services {
          grid-template-columns: 38% 58%;
          justify-content: space-between;
        }

        #services .services .segment {
          grid-template-columns: 100%;
          justify-content: space-between;
        }
      }

      @media screen and (min-width: 1200px) {
        #services .services .segment {
          grid-template-columns: 46% 46%;
          justify-content: space-between;
        }
      }
    }

    @layer blog {
      #blog .blogs {
        display: grid;
        justify-content: space-evenly;
        grid-template-columns: repeat(auto-fit, 28%);
        row-gap: 70px;
      }

      #blog .blogs .blog {
        position: relative;
        top: 0;
        left: 0;
        border-radius: 49.4px;
        border: 1px solid rgba(204, 142, 214, 0.45);
        background: linear-gradient(
          180deg,
          rgba(107, 51, 109, 0.12) 0%,
          rgba(68, 68, 68, 0.31) 100%
        );
        overflow: hidden;
        color: #fff;
        text-align: justify;
        font-weight: 500;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        padding-bottom: 50px;
        transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      }

      #blog .blogs .blog:hover {
        border: 1px solid #ff02ff;
        box-shadow: 0 0 10px #ff02af;
      }

      #blog .blogs .blog .title,
      #blog .blogs .blog .summary {
        padding: 10px;
      }

      #blog .blogs .blog .summary {
        color: #9d9d9d;
        font-size: medium;
      }

      #blog .blogs .blog .blogIcon {
        display: block;
        position: absolute;
        bottom: 10px;
        right: 20px;
        width: 50px;
      }

      #blog .join {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }

      #blog .join * {
        display: inherit;
        margin: 0 calc(1vw + 0.4rem);
      }

      #blog .join .text {
        width: calc(4vw + 4rem);
        justify-content: center;
        font-size: calc(1vw + 0.53rem);
        margin: 0;
        font-weight: 700;
      }

      @media screen and (max-width: 1200px) {
        #blog .blogs {
          grid-template-columns: repeat(auto-fit, 40%);
        }
      }

      @media screen and (max-width: 550px) {
        #blog .blogs {
          grid-template-columns: repeat(auto-fit, 95%);
        }
      }
    }

    @layer contact {
      #contact .contact {
        display: flex;
        flex-direction: column;
      }

      #contact .contact form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        flex-wrap: wrap;
        gap: 5px;
      }

      #contact .contact form * {
        width: 100%;
        outline: none;
        padding: 10px;
        border: 0.2px solid #ad00ff;
        background: rgba(215, 215, 215, 0.11);
        color: #b57feb;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      }

      #contact .contact form *:hover {
        box-shadow: 2px 2px 10px #ad00ff;
        border: 0.2px solid var(--link);
        color: var(--link);
      }

      form *:hover::placeholder {
        color: #ad00ff;
      }

      #contact .contact form *:focus {
        box-shadow: 2px 2px 10px #fbff00;
        color: aliceblue;
      }

      form *:focus::placeholder {
        color: #fbff00;
      }

      #contact .contact form textarea {
        resize: none;
        grid-column: 1 / 3;
      }

      #contact .contact form input {
        grid-row: 2;
        height: 40px;
      }

      #contact .contact form input[type="submit"] {
        background-color: #ad00ff;
        grid-column: 1 / 3;
        grid-row: 3;
        border-radius: 0 0 20px 20px;
        color: white;
        font-size: 16px;
      }

      #contact .contact form input[type="submit"]:hover {
        background-color: #db00ff;
        cursor: pointer;
      }

      #contact .simplecontact {
        color: #9d9d9d;
        margin: 10ch 1vw;
        display: inherit;
        justify-content: space-between;
      }

      #contact .icons {
        display: inherit;
        flex-direction: row;
        justify-content: space-around;
      }
    }
  }

  @layer certificate {
    #certificates {
      margin: 30px;
    }

    #certificates .certificates {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      align-items: center;
      gap: 30px;
    }
    #certificates .certificates div {
      position: relative;
      width: 400px;
      overflow: hidden;
      display: flex;
      place-items: center;
      place-content: center;
      padding: 3px;
      transition: transform 1s ease-in-out;
    }

    #certificates .certificates div::before {
      content: "";
      position: absolute;
      width: 200%;
      height: 200%;
      background: conic-gradient(#5a0a4bcd 10deg, transparent 180deg);
      z-index: -1;
      animation: flow 5s linear infinite;
    }

    #certificates .certificates div:hover {
      transform: scale(1.2);
    }

    @keyframes flow {
      to {
        transform: rotate(-360deg);
      }
    }
  }

  @layer footer {
    footer {
      text-align: center;
      margin-top: 50px;
    }
  }
}

@layer utilities {
  .absolute_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .flex-center {
    display: flex;
    place-items: center;
  }

  .circle {
    border-radius: 50%;
    aspect-ratio: 1;
  }

  .hidden {
    display: none;
  }

  .frame {
    position: relative;
    top: 0;
    left: 0;
    border-radius: 49.4px;
    border: 1px solid #cc8ed6;
    background: linear-gradient(180deg, #6b336d1f 0%, #4444444f 100%);
    color: #9d9d9d;
    text-align: center;
    font-size: large;
    padding: 20px;
    line-height: 2rem;
    overflow: hidden;
    transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .frame:hover {
    border: 1px solid #ff02ff;
    box-shadow: 0 0 10px #ff02af;
  }

  .frameBackground {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(25% + 2vh);
    opacity: 0.4;
  }

  .frame:hover .frameBackground {
    opacity: 1;
  }

  .glow {
    aspect-ratio: 1;
    border-radius: 50%;
  }

  .show-more {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    margin: 30px 0;
    font-size: larger;
    font-weight: bolder;
    border-radius: 30px;
    border: 1px solid #b57feb;
    background: linear-gradient(180deg, #9a5bcb4a 0%, #ac9bb94a 100%);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    user-select: none;
  }

  .show-more:hover {
    color: var(--link);
    transform: scale(0.9, 1);
  }

  .blogIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(
      180deg,
      #e079f0 0%,
      rgba(229, 132, 245, 0.3) 100%
    );
    box-shadow: 0px 3px 7px 0px #ff8ff61a, 0px 13px 13px 0px #ff8ff617,
      0px 29px 17px 0px #ff8ff60d, 0px 51px 20px 0px #ff8ff603,
      0px 79px 22px 0px #ff8ff600;
    transition: all 0.1s ease-in-out;
  }

  .blogIcon:hover {
    transform: scale(1.2);
  }

  .icon {
    width: 50%;
  }

  #bgcover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000007b;
    transition: all 2s ease-in-out;
    display: none;
    z-index: 1;
  }

  #bgcover:hover {
    background-color: #d3319508;
  }

  #alert {
    z-index: 10;
    /* display: none; */
    position: absolute;
    top: 100px;
    right: -100%;
    height: 50px;
    max-width: 100%;
    display: flex;
    place-items: center;
    place-content: center;
    padding: 0 20px;
    background-color: rgb(0, 0, 0);
    font-family: "Courier New", Courier, monospace;
    font-style: italic;
    box-shadow: 2px 2px 10px purple;
    transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
  }
}

@layer overrides {
  header {
    z-index: 1 !important;
  }

  #services .IntroServices.frame,
  #services .segment p {
    font-size: larger;
  }

  #blog .join * .blogIcon {
    width: calc(2vw + 1.5rem);
    height: calc(2vw + 1.5rem);
  }
}
