* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --link: #fd62a3;
  --focused-link: #fcfcfc;
  --background: #181616;
  --text-color: #9d9d9d;
}

::-webkit-scrollbar {
  width: 2px;
  background-color: var(--background);
}

::-webkit-scrollbar-thumb {
  background-color: #ff00d47d;
  box-shadow: 0 0 5px red;
  border-radius: 100%;
}

html {
  position: fixed;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
  color-scheme: dark light;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background-color: var(--background);
  font-family: "Times New Roman", Times, serif;
  color: white;
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 75px;
}

img {
  width: 100%;
}

.portlogo_container {
  display: flex;
  margin-left: 5px;
}

.portlogo_container .portlogo {
  display: block;
  width: 40px;
  height: 40px;
}

.portlogo_container:hover .portlogo {
  filter: drop-shadow(0px 0px 6px var(--background));
  transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.portlogo {
  transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.portname {
  font-size: larger;
  font-weight: 700;
}

.portname .seg {
  color: #ac87aa;
  font-family: "Courier New", Courier, monospace;
  filter: drop-shadow(2px 2px 2px rgb(0, 0, 0));
}

.portname .seg2 {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(120deg, #db00ff 20%, #ff00ff 100%);
  background-clip: text;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.flex-center {
  display: flex;
  place-items: center;
}

input[type=search] {
  width: 50%;
  height: 30px;
  border-radius: 10px;
  padding: 20px 0 20px 50px;
  background-color: black;
  background: url(../../img/search.png) no-repeat;
  background-position: 10px;
  background-size: 30px;
  border: 2px solid #AD00FF;
  box-shadow: 0 20px 50px black;
}

aside {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 25px;
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translate(0, -50%);
  background: linear-gradient(180deg, #8d33d127, #bababa08);
  padding: 25px 5px;
  border-radius: 100px;
  box-shadow: -20px 0 50px black;
  transition: left 0.5s ease-in-out;
}

aside img {
  width: 80%;
}

aside a {
  display: flex;
  justify-content: center;
  align-items: center;
}

aside .active {
  padding: 5px;
  border: 2px solid #FF00D6;
  border-radius: 50%;
  aspect-ratio: 1;
  background-color: #181616;
}

aside a:hover {
  filter: invert(0.5);
}

aside .active:hover {
  filter: invert(0);
  border-color: red;
}

main {
  padding-left: 100px;
}

@media (max-width: 768px) {
  main {
    padding-left: 20px;
  }
}