<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Adeniji Olajide</title>
    <link rel="shortcut icon" href="img/quantum.png" type="image/png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inspiration&family=Twinkle+Star&display=swap"
      rel="stylesheet"
    />
    <script src="js/main.js" type="module" defer></script>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <aside>
      <div id="alert">Hello World</div>
      <div id="bgcover"></div>
      <canvas id="background"></canvas>
      <div class="glow"></div>
      <button class="button" style="display: none"></button>
    </aside>
    <header>
      <div class="portlogo_container">
        <div class="portlogo">
          <!-- <div style="--x: 25px; --y: 27px; --color: #ff00d6"></div>
          <div style="--x: 6px; --y: -2px; --color: black"></div>
          <div style="--x: 30px; --y: -25px; --color: yellow"></div> -->
          <img src="img/quantum.png" alt="Quantum logo" />
        </div>
        <span class="portname flex-center">
          <span class="seg">uantum</span><span class="seg2">Web</span>
        </span>
      </div>
      <nav class="headerNav">
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#works">Works</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#blog">Blog</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
      <div class="resume">
        <a href="./files/Adeniji-Olajide-CV.pdf" download>Resume/CV</a>
      </div>
    </header>
    <main>
      <!-- <div id="bgcover"></div> -->
      <div id="home">
        <div class="mainImg">
          <!-- image container -->
        </div>
        <div class="introPiece">
          <div class="greeting">Hello World!</div>
          <div class="nameIntro">
            I am &nbsp;<span class="myName"
              >Adeniji &natur; <br />
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Olajide</span
            >
          </div>
          <div class="specialization">Full-Stack Web Developer</div>
        </div>
        <div class="introbrief">
          🌟 Welcome to Adeniji Olajide's Portfolio! 🌟 👋 Hello and welcome!
          I'm thrilled to have you here. Whether you stumbled upon my website by
          chance or intentionally sought it out, I'm delighted to extend my
          warmest greetings to you. 🌱 This space is more than just a collection
          of projects and accomplishments—it's a reflection of my journey, my
          passion, and my dedication to the craft of software engineering and
          web development. Each line of code, each pixel on the screen,
          represents countless hours of learning, experimenting, and refining my
          skills. 🚀 My goal with this portfolio is simple: to showcase my
          expertise, to inspire creativity, and to foster meaningful
          connections. Whether you're a fellow developer, a potential client, or
          simply someone curious about what I do, I invite you to explore, to
          learn, and to engage with the content you find here. 🔍 Take a moment
          to browse through my projects, each one a labor of love and a
          testament to my commitment to excellence. From innovative web
          applications to elegant user interfaces, each project tells a story—a
          story of problem-solving, collaboration, and the relentless pursuit of
          perfection. 🤝 But beyond the code and the designs, I want you to know
          that this portfolio is also a reflection of who I am as a person.
          Approachable, passionate, and always eager to learn and grow. So,
          whether you're here to learn more about my work, to discuss potential
          collaborations, or simply to say hello, know that you're always
          welcome here🌟.
        </div>
      </div>

      <div id="about">
        <h2>ABOUT ME</h2>
        <div class="frame">
          <p>
            I am a passionate and highly skilled Software Engineer specializing
            in Full Stack Web Development, with a robust background in building
            dynamic, user-centric applications. With 2 years of professional
            experience, I excel in both front-end and back-end development,
            leveraging a diverse set of technologies to create seamless and
            efficient solutions. My expertise spans across the full software
            development lifecycle, from initial concept and design through to
            deployment and maintenance.
          </p>

          <p>
            Having worked on diverse projects, I have honed my ability to
            translate complex business requirements into elegant technical
            solutions. Through the integration of DevOps practices, I have
            optimized workflows, improved deployment efficiency, and fostered a
            culture of collaboration and continuous improvement within
            development teams. I thrive in collaborative environments where
            teamwork and communication are valued. Throughout my career, I have
            enjoyed collaborating with cross-functional teams, including
            designers, product managers, and fellow developers, to deliver
            projects on time and exceed expectations. My expertise in System
            DevOps enables me to bridge the gap between development and
            operations teams, facilitating seamless communication and alignment
            of objectives.
          </p>

          <p>
            In the fast-paced world of technology, I am committed to continuous
            learning and staying updated with the latest industry trends and
            best practices. Whether it's attending conferences, participating in
            online courses, or exploring new tools and frameworks, I am always
            eager to expand my knowledge and enhance my skills. Driven by a
            passion for innovation, I am constantly seeking new ways to push the
            boundaries of what's possible in web development. Whether it's
            experimenting with emerging technologies like Progressive Web Apps
            (PWAs), Web API, implementing cutting-edge design patterns, or
            optimizing performance for scalability, I am always eager to explore
            new opportunities for growth and improvement.
          </p>

          <p>
            If you're looking for a dedicated and experienced Software
            Engineer/Full Stack Web Developer to join your team or collaborate
            on a project, I would love to connect. Feel free to reach out to me
            through my portfolio website or LinkedIn profile to discuss how we
            can work together to bring your ideas to life. As a proactive
            problem-solver, I am committed to delivering top-notch software
            solutions with meticulous attention to detail. My adaptability to
            new technologies and strong communication and teamwork skills enable
            me to excel in dynamic, collaborative environments. I am always
            eager to tackle new challenges and drive innovation in my work.
          </p>
        </div>
        <div class="expertise">
          <div class="contactlink"><a href="#contact">Contact me</a></div>
          <h3>Expertise</h3>
          <div class="expertiseInfo">
            <div>
              <div class="pro">Software Engineeer</div>
              <div class="frame">
                <img
                  src="img/softwareabout.png"
                  alt="software engineering"
                  class="frameBackground"
                />
                While working as a Software Engineer at ALX, I found myself
                engaged in a vibrant and cooperative atmosphere that fostered
                creativity and individual development. This experience afforded
                me the opportunity to participate in various projects, utilizing
                diverse programming languages, techniques, tools, and
                technologies. I gained proficiency in ideation and the
                deconstruction of intricate projects into more manageable
                components.
              </div>
            </div>
            <div class="rule"></div>
            <div>
              <div class="pro">Full-Stack Web Developer</div>
              <div class="frame">
                <img
                  src="img/fullstackabout.png"
                  alt="full stack developer"
                  class="frameBackground"
                />
                During my time at New Horizon, I acquired skills as a Full Stack
                Web Developer. I mastered Frontend and designing with Pure CSS
                or Sass/bootstrap. I excelled in programming using vanilla
                JavaScript or Vue/JQuery. I also delved into backend work,
                learning schema design, API development, and using POSTMAN. I
                gained expertise in PHP/Laravel and MySQL as databases
                management system.
              </div>
            </div>
          </div>
        </div>
        <div class="toolsandtechnology">
          <div class="tools">
            <canvas id="toolslide"></canvas>
          </div>
          <div class="glow"></div>
        </div>
      </div>

      <div id="works">
        <h2>WORKS</h2>
        <div class="works">
          <% repos.forEach((repo)=> { %>
          <span data-key="<%= repo.id %>">
            <video
              src="portfoliovideo/<%= repo.trailer %>"
              poster="portfolioimage/<%= repo.thumbnail %>"
              muted
            ></video>
            <div class="workname"><%= repo.name %></div>
          </span>
          <% }) %>
        </div>
        <a href="works.html" class="amazed">Show More</a>

        <!-- workpop up -->
        <aside id="workpopup">
          <!-- dynamic data -->
        </aside>
      </div>

      <div id="services">
        <h2>Services</h2>
        <div class="services">
          <div class="IntroServices frame">
            <a href="#" style="color: var(--text-color)">
              We are a team of passionate software engineers dedicated to crafting innovative, high-quality solutions that empower your business to thrive. We understand that every organization has unique challenges and goals, and we are committed to providing tailored solutions that meet your specific needs.

              Our expertise spans a wide range of software engineering services, including:
              
              Web and API Development: We build robust, scalable, and user-friendly web applications and APIs that seamlessly integrate with your existing systems.
              Data Analysis and Visualization: We leverage cutting-edge data analytics techniques to extract valuable insights from your data, helping you make informed decisions and optimize your operations.
              Code Quality Assurance: We prioritize code quality and maintainability, ensuring your software is reliable, secure, and performs optimally.
              Cloud Infrastructure Solutions: We design and implement secure and scalable cloud infrastructure solutions that meet your specific needs and budget.
              Mobile App Development: We develop native and cross-platform mobile applications that provide a seamless user experience and enhance your brand reach.
              What sets us apart:
              
              Experienced and Passionate Team: Our team comprises highly skilled software engineers with a deep understanding of industry best practices and emerging technologies.
              Collaborative Approach: We believe in open communication and collaboration with our clients, ensuring that we are aligned with your vision and goals throughout the project lifecycle.
              Commitment to Quality: We are committed to delivering high-quality software solutions that meet the highest industry standards.
              Focus on Innovation: We are constantly exploring new technologies and approaches to provide innovative solutions that drive your business forward.
              Let us help you achieve your business goals with reliable, scalable, and secure software solutions. Contact us today to discuss your project requirements and explore how we can help you succeed.
            </a>
          </div>
          <div class="segment">
            <div class="service frame">
              <img
                src="img/Webdevelopment.svg"
                alt=""
                class="frameBackground"
              />
              <h3>Web Application Development</h3>
              <p>
                Leverage the power of modern web technologies to create
                responsive, scalable, and secure web applications tailored to
                your business needs. With expertise in front-end frameworks like
                React, and Vue.js, and back-end technologies such as Node.js,
                Python, and PHP, we build robust and user-friendly web solutions
                that drive business growth and customer engagement.
              </p>
              <a href=""
                ><img src="img/order.svg" alt="get service" class="placeorder"
              /></a>
            </div>
            <div class="service frame">
              <img
                src="img/Api_development.svg"
                alt=""
                class="frameBackground"
              />
              <h3>API Development</h3>
              <p>
                Empower your applications with seamless communication and data
                exchange through custom API development. We specialize in
                designing and implementing RESTful and GraphQL APIs that are
                efficient, secure, and easy to maintain. Whether you need APIs
                for mobile apps, web services, or third-party integrations, our
                solutions ensure reliable and scalable performance.
              </p>
              <a href=""
                ><img src="img/order.svg" alt="get service" class="placeorder"
              /></a>
            </div>
            <div class="service frame">
              <img src="img/webgraphics.svg" alt="Web Graphics" class="frameBackground" />
              <h3>Mobile Application Development</h3>
              <p>
                Bring your business to the fingertips of your customers with our
                mobile application development services. We create
                high-performance, intuitive, and user-friendly mobile apps for
                both iOS and Android platforms. Using frameworks like React
                Native and Flutter, we deliver apps that provide a seamless user
                experience and meet your business objectives.
              </p>
              <a href=""
                ><img src="img/order.svg" alt="get service" class="placeorder"
              /></a>
            </div>
            <div class="service frame">
              <img
                src="img/quality_assurance.svg"
                alt=""
                class="frameBackground"
              />
              <h3>Code Quality Assurance</h3>
              <p>
                Ensure your software meets the highest quality standards with
                our comprehensive code quality assurance services. We conduct
                rigorous testing, code reviews, and performance assessments to
                identify and address potential issues early in the development
                cycle. Our focus on best practices, automated testing, and
                continuous integration helps deliver reliable, maintainable, and
                bug-free software.
              </p>
              <a href=""
                ><img src="img/order.svg" alt="get service" class="placeorder"
              /></a>
            </div>
          </div>
        </div>
      </div>

      <div id="blog">
        <h2>BLOG</h2>
        <div class="blogs">
          <div class="blog">
            <a href="http://" target="_blank" rel="noopener noreferrer"
              ><img
                src="img/assets/personal-portfolio.png"
                alt="Personal Portfolio"
            /></a>
            <div class="title">How i create my Portfolio</div>
            <div class="summary">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. In
              perferendis quis quasi laborum vitae quas, esse dolorum quod nemo
              laudantium quibusdam asperiores earum voluptas possimus,
              voluptatem enim magnam id voluptatibus! Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Dolorum recusandae laborum odio
              sapiente corporis id ullam non amet aperiam possimus harum
              inventore architecto repudiandae, suscipit doloremque reiciendis.
              Eos, quas esse.
            </div>
            <a
              href="http://"
              target="_blank"
              rel="noopener noreferrer"
              class="blogIcon"
              ><img src="img/blog/devnode.svg" alt="Devnode Logo" class="icon"
            /></a>
          </div>
          <div class="blog">
            <a href="http://" target="_blank" rel="noopener noreferrer"
              ><img
                src="img/assets/personal-portfolio.png"
                alt="Personal Portfolio"
            /></a>

            <div class="title">How i create my Portfolio</div>
            <div class="summary">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. In
              perferendis quis quasi laborum vitae quas, esse dolorum quod nemo
              laudantium quibusdam asperiores earum voluptas possimus,
              voluptatem enim magnam id voluptatibus! Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Iusto deleniti neque enim ipsum
              vitae nobis necessitatibus perferendis autem dignissimos. Quae
              corporis voluptates saepe veritatis velit et, unde quam? Facilis,
              porro?
            </div>
            <a
              href="http://"
              target="_blank"
              rel="noopener noreferrer"
              class="blogIcon"
              ><img src="img/blog/devnode.svg" alt="Devnode Logo" class="icon"
            /></a>
          </div>
          <div class="blog">
            <a href="http://" target="_blank" rel="noopener noreferrer"
              ><img
                src="img/assets/personal-portfolio.png"
                alt="Personal Portfolio"
            /></a>

            <div class="title">How i create my Portfolio</div>
            <div class="summary">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. In
              perferendis quis quasi laborum vitae quas, esse dolorum quod nemo
              laudantium quibusdam asperiores earum voluptas possimus,
              voluptatem enim magnam id voluptatibus! Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Consectetur accusantium cupiditate
              minima fugiat. Nam tempora amet fugit sint odio incidunt ex magnam
              maiores pariatur consequatur, voluptates nemo dolorem quam facere.
            </div>
            <a
              href="http://"
              target="_blank"
              rel="noopener noreferrer"
              class="blogIcon"
              ><img src="img/blog/devnode.svg" alt="Devnode Logo" class="icon"
            /></a>
          </div>
          <div class="blog">
            <a href="http://" target="_blank" rel="noopener noreferrer"
              ><img
                src="img/assets/personal-portfolio.png"
                alt="Personal Portfolio"
            /></a>

            <div class="title">How i create my Portfolio</div>
            <div class="summary">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. In
              perferendis quis quasi laborum vitae quas, esse dolorum quod nemo
              laudantium quibusdam asperiores earum voluptas possimus,
              voluptatem enim magnam id voluptatibus! Lorem ipsum dolor sit amet
              consectetur, adipisicing elit. Ab esse quidem sed. Accusamus id
              eaque vero. Consectetur necessitatibus dicta nemo distinctio
              veniam consequuntur, ipsa laboriosam dolor neque, accusantium
              quibusdam vel!
            </div>
            <a
              href="http://"
              target="_blank"
              rel="noopener noreferrer"
              class="blogIcon"
              ><img src="img/blog/devnode.svg" alt="Devnode Logo" class="icon"
            /></a>
          </div>
          <div class="blog">
            <a href="http://" target="_blank" rel="noopener noreferrer"
              ><img
                src="img/assets/personal-portfolio.png"
                alt="Personal Portfolio"
            /></a>

            <div class="title">How i create my Portfolio</div>
            <div class="summary">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. In
              perferendis quis quasi laborum vitae quas, esse dolorum quod nemo
              laudantium quibusdam asperiores earum voluptas possimus,
              voluptatem enim magnam id voluptatibus! Lorem ipsum dolor, sit
              amet consectetur adipisicing elit. Quidem quaerat expedita,
              tempora blanditiis in, quisquam ab illo at eius dolores animi sint
              beatae provident fugiat vitae. Earum tempore mollitia error.
            </div>
            <a
              href="http://"
              target="_blank"
              rel="noopener noreferrer"
              class="blogIcon"
              ><img src="img/blog/devnode.svg" alt="Devnode Logo" class="icon"
            /></a>
          </div>
          <div class="blog">
            <a href="http://" target="_blank" rel="noopener noreferrer"
              ><img
                src="img/assets/personal-portfolio.png"
                alt="Personal Portfolio"
            /></a>

            <div class="title">How i create my Portfolio</div>
            <div class="summary">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. In
              perferendis quis quasi laborum vitae quas, esse dolorum quod nemo
              laudantium quibusdam asperiores earum voluptas possimus,
              voluptatem enim magnam id voluptatibus! Lorem ipsum dolor sit amet
              consectetur, adipisicing elit. Sapiente libero dolorum eveniet ad
              quia nobis sed. Beatae, non explicabo! Velit molestiae doloremque
              saepe, sit nam quae iure nisi reiciendis placeat.
            </div>
            <a
              href="http://"
              target="_blank"
              rel="noopener noreferrer"
              class="blogIcon"
              ><img src="img/blog/devnode.svg" alt="Devnode Logo" class="icon"
            /></a>
          </div>
        </div>
        <a href="blogs.html" class="amazed">Be Amazed</a>
        <div class="join">
          <span class="left">
            <a
              href="http://"
              target="_blank"
              rel="noopener noreferrer"
              class="blogIcon"
              ><img src="img/blog/devnode.svg" alt="Devnode Logo" class="icon"
            /></a>
            <a
              href="http://"
              target="_blank"
              rel="noopener noreferrer"
              class="blogIcon"
              ><img src="img/blog/devnode.svg" alt="Devnode Logo" class="icon"
            /></a>
          </span>
          <span class="text">Join Me</span>
          <span class="right">
            <a
              href="http://"
              target="_blank"
              rel="noopener noreferrer"
              class="blogIcon"
              ><img src="img/blog/medium.svg" alt="Medium Logo" class="icon"
            /></a>
            <a
              href="http://"
              target="_blank"
              rel="noopener noreferrer"
              class="blogIcon"
              ><img src="img/blog/medium.svg" alt="Medium Logo" class="icon"
            /></a>
          </span>
        </div>
      </div>

      <div id="contact">
        <h2>Contact Me</h2>

        <div class="contact">
          <form action="/chirpmail" id="mailchirp" method="post">
            <textarea
              name="message"
              id="message"
              cols="30"
              rows="20"
              placeholder="Message"
            ></textarea>
            <input type="text" name="name" id="name" placeholder="Full Name" required />
            <input
              type="email"
              name="email"
              id="email"
              placeholder="Email" required
            />
            <input type="submit" value="Send">
          </form>
          <div class="simplecontact">
            <a href="mailto:adenijiolajid01@gmail.com"
              >adenijiolajid01@gmail.com</a
            >
            <a href="tel:+23407084076657">+2347084076657</a>
          </div>
          <div class="icons">
            <a
              href="http://"
              target="_blank"
              rel="noopener noreferrer"
              class="blogIcon"
              ><img src="img/blog/instagram.svg" alt="Instagram Logo" class="icon"
            /></a>
            <a
              href="http://"
              target="_blank"
              rel="noopener noreferrer"
              class="blogIcon"
              ><img src="img/blog/medium.svg" alt="Medium Logo" class="icon"
            /></a>
            <a
              href="http://"
              target="_blank"
              rel="noopener noreferrer"
              class="blogIcon"
              ><img src="img/blog/devnode.svg" alt="Devnode Logo" class="icon"
            /></a>
            <a
              href="http://"
              target="_blank"
              rel="noopener noreferrer"
              class="blogIcon"
              ><img src="img/blog/medium.svg" alt="Medium Logo" class="icon"
            /></a>
            <a
              href="http://"
              target="_blank"
              rel="noopener noreferrer"
              class="blogIcon"
              ><img src="img/blog/instagram.svg" alt="Instgram Logo" class="icon"
            /></a>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <marquee title="deprecated: This is the first HTML element I wrote when I began learning web development.">© 2024 quantumweb. All Rights Reserved</marquee>
    </footer>
    <canvas id="foreground"></canvas>
  </body>
</html>
