<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Adeniji Olajide</title>
    <script src="js/main.js" defer></script>
    <link rel="stylesheet" href="style.css">
    <script src="js/canvas.js" defer></script>
    <link rel="shortcut icon" href="img/favicon.png" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inspiration%3A400" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Twinkle+Star%3A400" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Grechen+Fuemen%3A400" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inria+Serif%3A400" /> -->
</head>

<body>
    <aside>
        <canvas id="background"></canvas>
        <div class="glow"></div>
        <button class="button" style="display: none;"></button>
    </aside>
    <header>
        <div class="portlogo_container">
            <div class="portlogo">
                <div style="--x: 25px; --y: 27px; --color: #ff00d6;"></div>
                <div style="--x: 6px; --y: -2px; --color: black;"></div>
                <div style="--x: 30px; --y: -25px; --color: yellow;"></div>
            </div>
            <span class="portname flex-center">
                <span class="seg">Port</span><span class="seg2">Folio</span>
            </span>
        </div>
        <nav class="headerNav">
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#works">Works</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#blog">Blog</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
        <div class="resume">
            <a href="./file/Adeniji-Olajide.pdf" download>Resume/CV</a>
        </div>
        <div class="opener">
            <img src="img/goto-arrow.svg" alt="">
        </div>
    </header>
    <main></main>
    <footer>
        <marquee>&copy; All Right Reserved</marquee>
    </footer>
    <canvas id="foreground"></canvas>
</body>

</html>
